/*Links*/
ul {
	list-style: none;

	display: flex;
	flex-direction: column;
	gap: 8px;

	padding: 24px 0;
}

ul li a {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 16px 24px;

	background: var(--surface-color);
	border: 1px solid var(--stroke-color);
	border-radius: 8px;

	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);

	text-decoration: none;
	font-size: 500;

	transition: background 0.2s;
}

/* pseudo-selector (vai aparecer quando passar o mouse em cima do item )*/
ul li a:hover {
	background: var(--surface-color-hover);
	border: 1.5px solid var(--text-color);
}